h1, h2{
    font-size: 30px;
    margin: 10px;
}

h3 {
    font-size: 20px;
    margin: 10px;
    justify-content: center;
}

/* .about {
    display: flex;
} */

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
}


.sa_section {
    display: flex;
    flex-wrap: wrap;
    background-color: #d8d8d8;
    border-radius: 5px; 
}

.sa {
    color: #6290C3;
    background-color: white;
    font-size: 20px;
    /* text-decoration: underline; */
    padding: 10px;
    margin: 20px;
    border:solid #1A1B41;
    border-radius: 500px;
}

.custom-color {
    color:#1A1B41;
}